<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<title>Recherche Pays</title>
<style> 
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>
</head>
<body>
	<div>Rechercher le pays d'une ville</div>
	<div>
		<label>Entrez le ville</label>
		<input type="text" town" value=" " placeholder="Entrez la ville">
	</div>
	<div></div>
</body>
</html>